* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bona Nova SC", serif;
}

html {
    scroll-behavior: smooth;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}


a {
    text-decoration: none;
}


li, ul {
    list-style: none;
}

/* HEADER */
header {
    background-color: #633211;
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}

header .logo {
    position: absolute; 
    left: 20px; 
    display: flex;
    align-items: center;
}

.logo img {
    display: block;
    width: 100px; 
}

.nome {
    text-align: center;
}

.nome h1 {
    font-size: 2em;
    color: #fff; 
    font-family: 'Julius Sans One', sans-serif;
    
}

/* NAVEGAÇÃO */
.navegacao {
    background-color: #FFB901;
    padding: 20px 4%;
    margin-bottom: 30px;
}

.navegacao .interface {
    display: flex;
    justify-content: center; 
}

.menu ul {
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}
.menu li:hover{
    transform: translateY(-5px);
    transform: scale(1.2);   
    text-decoration: underline #633211;
}
.menu li{
    transition:.2s;
}
.menu a {
    text-decoration: none;
    color: #000; /* Define a cor dos links */
    font-weight: bold;
}
.navegacao ul li a{
    padding: 50px;
}

/* CARROSSEL */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2B01E;
    padding: 0px;
    padding-left: 0px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    gap: 0px;
    width: 100%;
}
.img-banner {
    display: flex;
    float: left;
    width: 50%;
}
.texto h2{
    font-size: 40px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
}
.texto p{
    font-size: 32px;
    justify-content: center;
    text-align: center;
}
section.carousel-text{
    display: flex;
}
.carousel-text {
    display: flex;
    align-items: center;
}



.texto {
    flex: 1; /* Faz o texto ocupar o espaço restante */
}

.texto {
    margin-left: -50px;
}




.catalogo {
    padding: 40px 4%;
}
.catalogo .titulo h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 20px;
    
}
.imgcatalogo ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    gap: 20px;
}
.imgcatalogo li {
    transition: .2s;
    border-radius: 10px;
    border: solid 1px #ccc;
    margin: 10px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.imgcatalogo li:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.imgcatalogo img {
    border-radius: 10px;
}
.imgcatalogo h3 {
    padding: 10px 0 5px;
    margin: 0;
    color: #333;
    font-size: 1.2em;
}
.imgcatalogo p {
    margin: 0;
    font-size: 1em;
    color: #555;
}
.imgcatalogo span {
    color: gold;
}