* {
    margin: 0%;
    padding: 0%;
    box-sizing: 0%;
    font-family: "poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
}
li {
    list-style: none;
}